body{
    /*background-color:#91acbf;*/
    background-color:#162c4a;
    /*color:#162c4a;*/
    /* color:#91acbf; */
	color:#d2e9f9;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
	line-height: 125%;
    align-items:center;
    justify-content: center;
}

h1{color:white;
text-align: center;}


ul li{
    color:white;
    margin-bottom: 1em;
}


#content, .content{
    flex: 1;
    max-width: 70%;
    margin:auto;

}

.logo{
    margin-top: 3em;
    margin-bottom: 1em;
}

.logo-image{
    width:20em;

}

form.mail-form{
    margin: auto;
    text-align: center;
}


form.mail-form input[type = email]{
border: 0px;
}



form.mail-form input[type = submit]{
    background-color: #eb6608;
            border: none;
            text-decoration: none;
            color: white;
            padding: 8px 8px;
            cursor: pointer;
            border-radius: 5px;
}


footer{
    padding-top: 1em;
    padding-bottom: 1em;
}
footer a{color:white;}

@media screen and (max-width: 600px) {

    #content, .content{
        max-width: 80%;
    
    }


    form.mail-form  input[type = submit] {
      margin-top:1em;
      margin-bottom: 1em;
    }
  }